h1 {
    margin-left: 5%;
}

#ueberuns_text{
    margin-left: 5%;
    margin-right: 50%;
}

#ueberuns_kontakt{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 30%;
}

body{
    height:auto;
}

